<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/app.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="/">Course Rater</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Courses
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/1p03">ENGINEER 1P03: Engineering Profession and Practice</a>
                            <a class="dropdown-item" href="#">PHYSICS 1D03: Introductory Mechanics</a>
                            <a class="dropdown-item" href="#">MATH 1ZB3: Engineering Mathematics II-A</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Search by Category</a>
                        </div>
                    </li>
                    <ul class="nav justify-content-end"> 
                        <li class="nav-item">
                            <a class="navbar-text" href="/signup">
                                Sign Up
                            </a>
                        </li>             
                        <li class="nav-item">
                            <a class="navbar-text" href="/login">
                                Login
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="navbar-text">
                                Logout
                            </a>
                        </li>
                      </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
               
            </div>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= success %>
                </div>
            <% } %>
    </div>

        