body{
  background-color: white;
  background-size: 100vh;
}
.black-header{
  color: black;
}

.jumbotron{
  background-color: 	#940049;
}
.jumbotron-c{
  background-color: 	white;
  padding-top: 30px;
}

.display-4c{
  color:white;
  font-size: 75px;
  font-weight: 100;
}

.leadc{
  color:white;
  font-size: large;
}
.card, .list-group-item{
  background-color: #ffbf3d;
}

a:hover{
  color: navy;
}
#delete-form {
  display: inline;
}