<%- include('./partials/header') %>
<body class = "page">
    <div class="jumbotron">
        <h1 class="course-name"><strong>ENG1P03: Engineering Profession</strong></h1>
        <p class="course-description">Introduction to professional engineering including ethics, health and safety, roles and responsibilities to society, sustainability, engineering communication; design skills; team design projects.</p>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <p>Dr.Nejat</p>
            <p>Rating</p>
          </div>
          <div class="col-sm">
            N/A
          </div>
        </div>
      </div>
    <div class = "review">
      <div class = "review-node" >
            <h5 class = "name">Name</h5>
            <h6>"This is the review"</h6>      
        </div>
        <hr class="my-4">
        <div class = "review-node" >
            <h5 class = "name">Name</h5>
            <h6>"This is the review"</h6>      
        </div>
        <hr class="my-4">
        <div class = "review-node" >
            <h5 class = "name">Name</h5>
            <h6>"This is the review"</h6>      
        </div>
    </div>
</body>

<%- include('./partials/footer') %>

