<%- include('./partials/header') %>
<body class = "page">
    <div class="jumbotron">
      <h1 class="display-5">ENGINEER 1P03: Engineering Profession and Practice</h1>
        <p class="course-description">Introduction to professional engineering, including ethics, health and safety, roles and responsibilities to society, sustainability, communication; design approaches, and teamworking.</p>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 20rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
        <br>
    </div>
    <div class = "review">
        <!-- <div class = "review-node" >
            <h5 class = "name">Name</h5>
            <h6>"This is the review"</h6>      
        </div> -->
        <div class="card" style="width: 100%; padding-left: 20px; padding-right: 20px;">
          <div class="card-body">
              <h5 class="card-title">Review title goes here</h5>
              <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
              <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
          </div>
        </div>
        <div class="card" style="width: 100%;">
          <div class="card-body">
              <h5 class="card-title">Review title goes here</h5>
              <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
              <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
          </div>
       </div>
        <div class="card" style="width: 100%;">
        <div class="card-body">
              <h5 class="card-title">Review title goes here</h5>
              <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
              <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
          </div>
        </div>
    </div>
</body>

<%- include('./partials/footer') %>

