<%- include('./partials/header') %>
<body class = "page">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-5">ENGINEER 1P03: Engineering Profession and Practice</h1>
      <p class="lead">Introduction to professional engineering, including ethics, health and safety, roles and responsibilities to society, sustainability, communication; design approaches, and teamworking.</p>
    </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
        <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
        <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
        <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
        <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
        <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review title goes here</h5>
        <h6 class="card-subtitle mb-2 text-muted">Prof name goes here</h6>
        <p class="card-text">Comments on the course content, structure, prof(s), and other suggestions or tips.</p>
      </div>
    </div>
  </div>
</body>

<%- include('./partials/footer') %>

