<%- include('./partials/header') %>

<div class="container" style="margin:70px auto;">
  <div class="row">
    <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12"><div style="text-align: center;margin-bottom: 10px;font-size: 30px;">Please sign up</div></div>
        </div>
      </div>
      <div class="col-4"></div>
  </div>
  <form action="/signup" method="POST">
    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12"><input type="text" class="form-control" placeholder="firstname"></div>
        </div>
      </div>
      <div class="col-4"></div>
      
    </div>
    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12"><input type="text" class="form-control" placeholder="lastname"></div>
        </div>
      </div>
      <div class="col-4"></div>
      
    </div>
    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12"><input type="text" class="form-control" placeholder="email"></div>
        </div>
      </div>
      <div class="col-4"></div>
      
    </div>
    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12"><input type="text" class="form-control" placeholder="Username"></div>
        </div>
      </div>
      <div class="col-4"></div>
      
    </div>
    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12"><input type="password" class="form-control" id="inputPassword"></div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="form-group row">
      <div class="col-4"></div>
      <div class="col-4">
          <div><button class="btn btn-lg btn-primary btn-block">Sign Up</button></div>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>

<%- include('./partials/footer') %>